@import "vendor/sass-flex-mixin/flex";
@import "utils/mixins";

@import "sections";

html, body {
  @include size(100%);
  position: relative;
  margin: 0;
}

.main-section{
  @include size(100%);
}

#supplepedia{
  @include size(100%);
  &.loaded{
    #init-logo{
      opacity: 0;
    }
  }
  #init-logo{
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include size(100%);
    transition: all 1.3s;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;

    &:before{
      @include background-image('supplepedia-logo.gif');
      content: " ";
      border-radius: 50%;
      background-color: white;
      width: 200px;
      height: 200px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
