//
//COLORS
//
$header-color: #192224;
$content-bg-color: #E5E5E5;
$left-menu-color: #222B2D;

//supplement colors
$protein-color: #0BABDE;
$casein-color: #FC913C;
$creatine-color: #95DB73;
$glutamine-color: #CE7BDE;
//SIZES
$header-size: 3.5rem;