<div class="content">
  <div class="inner">
    {{#each displayedContent}}
      {{#link-to "supplement" id}}
        <figure {{bind-attr class=":supplement-card type.name"}}>
          <img {{bind-attr src="image"}}>
          <figcaption>{{name}}</figcaption>
        </figure>
      {{/link-to}}
    {{/each}}
  </div>
</div>