<nav class="lateral-menu">
  <ul>
    <li class="price">
      <input type="select">
    </li>
    <li>
      {{view Ember.Select content=types value=selectedType}}
    </li>
    <li></li>
  </ul>
</nav>